.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    right: 0;
    top: 10vh;
    width: 85%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: hidden;
    margin-inline-start: 15rem;
    background-color: none;
    border-radius: .5rem;

}

/* Modal Content/Box */
.modal-content {
    background-color: var(--light);
    margin: 15% auto;
    margin-inline-start: 15rem;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid var(--gray);
    width: 50%;
    border-radius: .5rem;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close, .clo {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .clo .close:focus, .clo:hover, .clo:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Header */
.modal-header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    /* background-color: #5cb85c; */
    color: var(--blue);
}

/* Modal Body */
.modal-body {
    padding: 2px 16px;
}

/* Modal Footer */
.modal-footer {
    padding: 1rem;
    /* background-color: #5cb85c; */
    /* color: var(--light-blue); */
}

.drop, select {
    background-color: none;
}

/* Modal Content */
.modal-content {
    position: relative;
    /* background-color: #fefefe; */
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}