table {
    border-collapse: collapse;
    width: 100%;

}

table thead {
    background-color: var(--blue);
    color: var(--light);
    border-radius: .5rem;

}

table thead tr {}

table thead tr th {
    padding: 0.5em 1em;
    text-align: start;

}

table tbody {}

table tbody tr {
    border-bottom: 1px solid grey;

}

table tbody tr:nth-of-type(2n) {
    background-color: var(--light-blue);
    color: var(--dark);

}

table tbody tr:hover {
    background-color: var(--light-blue);

}

table tbody tr td {
    padding: 0.4em 1em;
    text-align: start;
    color: var(--dark);

}

table tbody tr td.numeric {
    text-align: end;

}

table tbody tr td ul.actions li {
    list-style: none;
    display: inline;

}

table tbody tr td ul.actions {}

table tbody tr td ul.actions {}

@media screen and (max-width: 600px) {

    table {
        width: 100%;

    }

    table thead {
        display: none;

    }

    table tbody tr {
        box-shadow: 0 0 0.5em #666666;
        border: none;

        display: block;

        margin: 1em;
    }

    table tbody tr td {
        padding: 0.4em 1em;
        text-align: end;

        display: block;

        width: block;

    }

    table tbody tr td[data-label="#"] {
        display: none;

    }

    table tbody tr td[data-label]:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
    }

    table tbody tr td.numeric {
        text-align: start;

    }

}